<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    
    <form action="/joke/<%= result.id %> ?_method=PUT" method="POST">
        <input  type="text" name="id" value="<%= result.id %>">
        <input  type="text" name="type" value="<%= result.type %>">
        <input  type="text" name="setup" value="<%= result.setup %>">
        <input  type="text" name="punchline" value="<%= result.punchline %>">
        <button type="submit" value="add">UPDATE</button>
        
    </form>

    <form action="/joke/<%= result.id %> ?_method=DELETE" method="POST">
        <input hidden  type="text" name="id" value="<%= result.id %>">
        <input hidden  type="text" name="type" value="<%= result.type %>">
        <input hidden  type="text" name="setup" value="<%= result.setup %>">
        <input hidden  type="text" name="punchline" value="<%= result.punchline %>">
        <button type="submit" value="add">DELETE</button>
        
    </form>



</body>
</html>